{% extends "layouts/base.html" %}

{% block title %}Consulta Agregada - Mercatório{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto bg-white p-6 rounded-md shadow-md text-black">
    <div class="flex items-center gap-13 mb-3">
        <h2 class="text-2xl font-bold ">Informações de Pagamentos</h2>
        <select name="" id="op-credor" class="w-25 h-10 "></select>
    </div>
    <div id="message"></div>
    <div id="result-container" class="space-y-6">

    </div>

    <div class="flex w-full gap-5">
        <button id="logout" type="button" class="w-1/2 p-2 bg-blue-500 hover:bg-green-500 text-white rounded transition-colors duration-200">Sair</button>
    </div>

</div>

<script src="{{ url_for('static', filename='js/base/scripts.js') }}"></script>
<script src="{{ url_for('static', filename='js/user/consulta_agregada/consulta_agregada.js') }}"></script>

{% endblock %}
