{% extends "layouts/base.html" %} {% block title %}Cadastro de Precatório -
Mercatório{% endblock %} {% block content %}
<div class="max-w-md mx-auto bg-white p-6 rounded-md shadow-md text-black">
  <div class="flex items-center gap-17 mb-2">
    <h2 class="text-2xl font-bold">Cadastro de Precatório</h2>
    <select name="" id="op-credor" class="w-18 h-10"></select>
  </div>

  <form
    id="precatory-form"
    method="POST"
    action="/api/precatories"
    enctype="application/x-www-form-urlencoded"
  >
    <div class="mb-4">
      <input
        placeholder="Número do Precatório"
        type="text"
        id="numero_precatorio"
        name="numero_precatorio"
        class="w-full p-2 border rounded"
        required
      />
    </div>

    <div class="mb-4">
      <input
        placeholder="Valor Nominal"
        type="number"
        step="0.01"
        id="valor_nominal"
        name="valor_nominal"
        class="w-full p-2 border rounded"
        required
      />
    </div>

    <select
      id="foro"
      name="foro"
      class="mb-4 w-full p-2 border rounded"
      required
    >
      <label for="foro" class="block text-gray-700">Foro:</label>
      <option value="">Selecione um foro</option>
      <option value="TJAC">TJAC - Acre</option>
      <option value="TJAL">TJAL - Alagoas</option>
      <option value="TJAM">TJAM - Amazonas</option>
      <option value="TJAP">TJAP - Amapá</option>
      <option value="TJBA">TJBA - Bahia</option>
      <option value="TJCE">TJCE - Ceará</option>
      <option value="TJDFT">TJDFT - Distrito Federal e Territórios</option>
      <option value="TJES">TJES - Espírito Santo</option>
      <option value="TJGO">TJGO - Goiás</option>
      <option value="TJMA">TJMA - Maranhão</option>
      <option value="TJMG">TJMG - Minas Gerais</option>
      <option value="TJMS">TJMS - Mato Grosso do Sul</option>
      <option value="TJMT">TJMT - Mato Grosso</option>
      <option value="TJPA">TJPA - Pará</option>
      <option value="TJPB">TJPB - Paraíba</option>
      <option value="TJPE">TJPE - Pernambuco</option>
      <option value="TJPI">TJPI - Piauí</option>
      <option value="TJPR">TJPR - Paraná</option>
      <option value="TJRJ">TJRJ - Rio de Janeiro</option>
      <option value="TJRN">TJRN - Rio Grande do Norte</option>
      <option value="TJRO">TJRO - Rondônia</option>
      <option value="TJRR">TJRR - Roraima</option>
      <option value="TJRS">TJRS - Rio Grande do Sul</option>
      <option value="TJSC">TJSC - Santa Catarina</option>
      <option value="TJSE">TJSE - Sergipe</option>
      <option value="TJSP">TJSP - São Paulo</option>
      <option value="TJTO">TJTO - Tocantins</option>
    </select>

    <div class="mb-4">
      <label for="enviado_em" class="block text-gray-700"
        >Data de cadastro:</label
      >
      <input
        type="date"
        id="enviado_em"
        name="enviado_em"
        class="w-full p-2 border rounded"
      />
    </div>

    <div class="flex w-full gap-5">
      <button
        type="submit"
        class="w-1/2 p-2 bg-blue-500 hover:bg-green-500 text-white rounded transition-colors duration-200"
      >
        Cadastrar
      </button>
      <button
        id="logout"
        type="button"
        class="w-1/2 p-2 bg-blue-500 hover:bg-green-500 text-white rounded transition-colors duration-200"
      >
        Sair
      </button>
    </div>
  </form>

  <p id="message" class="mt-4 text-center text-red-600"></p>
</div>
<script src="./../../static/js/user/precatorio/scripts.js"></script>
<script src="./../../static/js/base/scripts.js"></script>
{% endblock %}
